---
import Stats from "../components/Stats.astro";
import Sponsors from "../components/Sponsors.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import Team from "../components/Team.astro";
import Venue from "../components/Venue.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-24">
    <HeroSection />
    <!-- <Features/> -->
    <Sponsors />
    <Stats />
    <Timeline />
    <Team />
    <Venue />
  </main>
</Layout>
