---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/About.astro';
import CommitteeSection from '@/components/CommitteeSection';
import HeroSection from '@/components/HeroSection.astro';
import ImportantDates from '@/components/ImportantDates.astro';
import Publication from '@/components/Publication.astro';
import Registration from '@/components/Registration.astro';
import Speakers from '@/components/Speakers.astro';
import Topics from '@/components/Topics.astro';
import Venue from '@/components/Venue.astro';
---

<Layout title="GSFCU - ICON-AI-SMT'25">
	<main class="space-y-24">
		<HeroSection />
		<About />
		<CommitteeSection client:load/>
		<Speakers />
		<Topics />
		<ImportantDates />
		<Registration />
		<Publication />
		<Venue />
	</main>
</Layout>