---
import Container from "./Container.astro";
---

<header
  class="fixed top-0 left-0 z-50 w-full bg-[#ffffff80] backdrop-blur-lg shadow-sm"
>
  <div
    class="container flex h-20 items-center justify-between px-4 md:px-6 mx-auto"
  >
    <a href="#" class="flex items-center gap-2">
      <img class="h-12" src="/images/GSFCU Logo.png" alt="logo" />
    </a>
    <a
      href="#"
      class="relative flex h-11 items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
      <span class="relative text-base font-semibold text-white"
        >Register Now</span
      >
    </a>
  </div>
</header>
