---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";
---

<section id="authors-guidelines">
    <Container>
        <h1
          class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-8"
        >
          Call For Reviewers
        </h1>

        <p class="my-8">
          Faculty members, researchers, and industry professionals interested in joining as reviewers are invited to fill out the following <Link href="https://forms.gle/KdiGjhSo7s9WkLyS9">Google Form</Link>. Eligibility for reviewers requires either a completed or ongoing Ph.D. Each reviewer will be awarded a Certificate of Reviewer.
        </p>    
    </Container>
</section>