---
import Container from "./Container.astro";
---

<Container>
  <section class="text-center space-y-10">
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
      Important Dates
    </h1>

    <table class="table-auto rounded-lg overflow-hidden mx-auto">
      <thead>
        <tr>
          <th class="px-4 py-2 bg-primary text-white">Details</th>
          <th class="px-4 py-2 bg-primary text-white">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Paper Submission Due</td>
          <td class="border px-4 py-2">10 Mar 2024</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Acceptance Notification</td>
          <td class="border px-4 py-2">31 Mar 2024</td>
        </tr>
        <tr>
          <td class="border px-4 py-2"
            >Submission of Camera Ready Paper & Registration</td
          >
          <td class="border px-4 py-2">10 Apr 2024</td>
        </tr>
      </tbody>
    </table>
  </section>
</Container>
