---
import Container from "./Container.astro";

// Publication

// All the full-length papers presented at the conference will be submitted to the IEEE Xplore Digital Library (Scopus Indexed) (IEEE Conference Record No. 58432), subject to meeting IEEE's quality requirements and publication policy.
// IEEE Conference Number: 58432
// Xplore Compliant ISBN: 979-8-3503-7212-0
// Part Number: CFP24KZ7-ART
---

<Container>
  <section id="publication" class="space-y-10">
    <h1
      class="text-4xl font-bold text-center text-gray-800 dark:text-white md:text-5xl"
    >
      Publications
    </h1>

    <p class="text-lg text-center font-medium">Confirmation awaited</p>

    <!-- <div class="space-y-4">
      <img
        src="/images/logos/Springer Logo.png"
        alt="Publications"
        class="w-56 mx-auto"
      />
      <p class="text-lg font-medium">
        It is planned to publish the peer reviewed and selected papers of
        conference as proceedings with Springer in their prestigious
        LNCS/LNEE/CCIS series.
      </p>
      <a
        href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/19242230/data/v13"
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-medium text-blue-500 hover:text-blue-600 underline py-2 inline-block"
        >Guidelines for Authors
      </a>
      <br />
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-medium text-blue-500 hover:text-blue-600 underline py-2 inline-block"
        >Link for Submission
      </a>
    </div> -->
  </section>
</Container>
