---
import Container from "./Container.astro";
---

<Container>
  <section id="registration" class="text-center space-y-10 relative">
    <div
      aria-hidden="true"
      class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -z-50 -space-x-52 opacity-20 dark:opacity-20"
    >
      <div
        class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
      >
      </div>
    </div>
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
      Registration
    </h1>

    <div class="flex flex-col md:flex-row gap-8 justify-center items-center">
      <table class="table-auto rounded-lg overflow-hidden">
        <thead>
          <tr>
            <th class="px-4 py-2 bg-primary text-white">Categories</th>
            <th class="px-4 py-2 bg-primary text-white">IEEE Members</th>
            <th class="px-4 py-2 bg-primary text-white">Non-IEEE Members</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2"
              >Students (UG/PG) & Research Scholars</td
            >
            <td class="border px-4 py-2">INR 7000</td>
            <td class="border px-4 py-2">INR 8000</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Academicians & Industry</td>
            <td class="border px-4 py-2">INR 8000</td>
            <td class="border px-4 py-2">INR 9000</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Foreign Author (by Affiliation)</td>
            <td class="border px-4 py-2">USD 200</td>
            <td class="border px-4 py-2">USD 250</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Indian Participants (Without Paper)</td
            >
            <td class="border px-4 py-2">INR 3000</td>
            <td class="border px-4 py-2">INR 3000</td>
          </tr>
          <tr>
            <td class="border px-4 py-2"
              >Foreign Participants (by Affiliation) (Without Paper)</td
            >
            <td class="border px-4 py-2">USD 100</td>
            <td class="border px-4 py-2">USD 100</td>
          </tr>
          <tr>
            <td class="border px-4 py-2" colspan="3"
              >*Plus 18 % GST (as per Indian Government Norms)</td
            >
          </tr>
        </tbody>
      </table>

      <!-- QR image -->
      <div class="flex flex-col items-center justify-center space-y-10">
        <a href="https://www.gsfcuni.edu.in/" target="_blank">
          <img src="/images/QRCode.png" alt="QR Code" class="w-56 rounded-lg" />
          <p class="text-center text-sm text-gray-500 dark:text-gray-400">
            Scan the QR code for registration
          </p>
        </a>
      </div>
    </div>
  </section>
</Container>
