---
import Container from "./ui/Container.astro";
---

<section id="speakers">
  <Container>
    <h1
      class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-16"
    >
      Keynote Speakers
    </h1>
    <div class="flex flex-wrap justify-center gap-6 z-20">
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img
            class="rounded-md aspect-square object-contain"
            src="/images/speaker1.png"
          />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Prof. Vladan Devedzic</h3>
            <p class="text-muted-foreground font-semibold">
              University of Belgrade, Serbia
            </p>
          </div>
        </div>
      </div>

      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img
            class="rounded-md aspect-square object-top object-cover"
            src="/images/speaker2.jpg"
          />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Prof. Ram Bilas Pachori</h3>
            <p class="text-muted-foreground font-semibold">IIT Indore, India</p>
          </div>
        </div>
      </div>
    </div>

    <h1
      class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl my-16"
    >
      Invited Talk
    </h1>
    <div class="flex flex-wrap justify-center gap-6 z-20">
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img
            class="rounded-md aspect-square object-contain"
            src="/images/speaker3.jpg"
          />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Prof. Anand Nayyar</h3>
            <p class="text-muted-foreground font-semibold">
              Duy Tan University, Vietnam
            </p>
          </div>
        </div>
      </div>
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img
            class="rounded-md aspect-square object-contain"
            src="/images/speaker4.jpg"
          />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Dr. Amelia Taylor</h3>
            <p class="text-muted-foreground font-semibold">
              Malawi University, Malawi
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </Container>
</section>
