---
import Container from "./Container.astro";
---

<Container>
  <section class="space-y-4 text-center">
    <h1
      class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-16"
    >
      Sponsors
    </h1>

    <div class="flex flex-wrap justify-center gap-16 z-20">
      <img class="h-10" src="/images/clients/airbnb.svg" />
      <img class="h-10" src="/images/clients/google.svg" />
      <img class="h-10" src="/images/clients/netflix.svg" />
      <img class="h-10" src="/images/clients/ge.svg" />
      <img class="h-10" src="/images/clients/google-cloud.svg" />
      <img class="h-10" src="/images/clients/microsoft.svg" />
    </div>
  </section>
</Container>
