---
import Container from "./Container.astro";

// SUBMISSION
// Papers undergo a rigorous review process, primarily focusing on ensuring they are free of plagiarized content and have not been concurrently submitted to any other conference (double submission). Violations of these principles are considered grave offenses, and the IEEE is committed to taking appropriate action against any author found engaging in such practices.
// Please note that survey or review papers will be summarily rejected.

// For submission, please provide an electronic copy of the complete paper, adhering to the IEEE double-column format, with a maximum length of 6 pages and A4 size.

// Submission Closed IEEE Template
---

<Container>
  <section id="submissions" class="text-center space-y-4">
    <h1
      class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-8"
    >
      Submissions
    </h1>
    <p class="text-lg font-medium md:text-justify">
      Papers undergo a rigorous review process, primarily focusing on ensuring
      they are free of plagiarized content and have not been concurrently
      submitted to any other conference (double submission). Violations of these
      principles are considered grave offenses, and the IEEE is committed to
      taking appropriate action against any author found engaging in such
      practices.
    </p>
    <p class="text-lg font-medium text-primary">
      Please note that survey or review papers will be summarily rejected.
    </p>
    <p class="text-lg font-medium md:text-justify">
      For submission, please provide an electronic copy of the complete paper,
      adhering to the IEEE double-column format, with a maximum length of 6
      pages and A4 size.
    </p>
    <div class="flex flex-wrap justify-center gap-y-4 gap-x-6">
      <a
        href="#schedule"
        class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
      >
        <span class="relative text-base font-semibold text-white"
          >Submission Closed</span
        >
      </a>
      <a
        href="#team"
        class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
      >
        <span
          class="relative text-base font-semibold text-primary dark:text-white"
          >IEEE Template</span
        >
      </a>
    </div>
  </section>
</Container>
