---
import Container from "./Container.astro";
---

<Container>
  <section class="relative" id="team">
    <!-- <div
      aria-hidden="true"
      class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -z-50 -space-x-52 opacity-40 dark:opacity-20"
    >
      <div
        class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      >
      </div>
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
      >
      </div>
    </div> -->
    <h1
      class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-16"
    >
      Convenor
    </h1>
    <div class="flex flex-wrap justify-center gap-6 z-20">
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img class="rounded-md" src="https://placehold.co/300" />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Dr. Sanjukta Bose Goswami</h3>
            <p class="text-muted-foreground">
              Associate Dean, Chemical Engineering
            </p>
          </div>
        </div>
      </div>
    </div>

    <h1
      class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl mb-16 mt-20"
    >
      Co-Convenor
    </h1>
    <div class="flex flex-wrap justify-center gap-6 z-20">
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img class="rounded-md" src="https://placehold.co/300" />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Dr. Priya Goel</h3>
            <p class="text-muted-foreground">Assistant Professor, Chemistry</p>
          </div>
        </div>
      </div>
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img class="rounded-md" src="https://placehold.co/300" />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Dr. Jahanvi Bansal</h3>
            <p class="text-muted-foreground">Assistant Professor</p>
          </div>
        </div>
      </div>
      <div class="bg-background rounded-lg shadow-lg max-w-xs">
        <div class="p-6 space-y-4 flex flex-col items-center">
          <img class="rounded-md" src="https://placehold.co/300" />
          <div class="text-center">
            <h3 class="text-lg font-semibold">Ms. Swati Saxena</h3>
            <p class="text-muted-foreground">
              Assistant Professor, Computer Science & Engineering
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Container>
