---
import Container from "./Container.astro";

const TOPICS = [
  "AI Applications in Healthcare Management",
  "Ethical Implications of AI in Scientific Research",
  "AI-driven Innovations in Business Operations",
  "AI for Sustainable Development and Environmental Management",
  "Machine Learning for Financial Forecasting and Risk Management",
  "Integrating AI in Education and Learning Technologies",
  "AI-driven Decision Support Systems in Public Policy",
  "AI-driven Process Optimization in Chemical Engineering",
  "Machine Learning Applications in Chemical Reaction Engineering",
  "AI for Predictive Modeling and Simulation in Chemical Processes",
  "Smart Sensors and IoT Integration in Chemical Manufacturing",
  "AI-based Control Systems for Process Safety and Reliability",
  "Data Analytics and AI in Pharmaceutical Manufacturing",
  "Artificial Intelligence in Environmental Impact Assessment",
  "AI-driven Materials Design and Development",
  "Advanced AI Techniques for Chemical Product Design",
  "Integration of AI with Bioprocess Engineering",
  "AI-Driven Decision Making in Management",
  "AI and the Future of Work",
  "AI-driven Economy",
  "Generative AI in Education, Creativity, and Ideation",
  "AI Ethics, Bias, and Discrimination",
  "Economics of Artificial Intelligence",
  "Identifying Fake Reviews, Posts, and Accounts",
  "Chatbot Marketing",
  "AI for Customer Relationship Management",
  "AI-Generated Financial Forecasting",
  "Customized Training Programs with Generative AI",
  "Risk Management and Fraud Detection using AI",
  "Financial Health Monitoring using AI",
];
---

<section id="topics" class="text-center space-y-4">
  <Container>
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
      Topics
    </h1>
    <p class="text-lg font-medium">
      The topics of the conference are as follows:
    </p>

    <!-- Represnt topics as list -->
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {
        TOPICS.map((topic) => (
          <li class="py-2 sm:py-3 ">
            <div class="flex items-center space-x-4">{topic}</div>
          </li>
        ))
      }
    </ul>
  </Container>
</section>
