---
import Container from "./Container.astro";

// 5G and beyond networks
// Big data and machine learning for networks
// Cellular networks
// Cloud computing/mobile cloud computing
// Challenged Environments (underwater, underground)
// Cross-layer optimization and control
// Crowdsourcing
// CubeSats
// Cyber-physical systems
// Datacenter networking
// Dynamic spectrum sharing
// Energy efficiency in networks
// Edge and fog computing / networking
// Fault tolerance, reliability and survivability
// Information security and privacy
// Information-centric networking
// Interference management and mitigation
// Internet of Things
// Localization and location-based services
// Medium access control
// Mobile sensing and applications
// Mobility management and models
// Multimedia networking
// Network security and privacy
// Network virtualization
// Optical networks
// Overlay and peer-to-peer networks
// Quality-of-service and resource management
// Smart grid applications
// Social computing and networks
// Software-defined networking
// Vehicular networks
// Web applications and content distribution

const TOPICS = [
  "5G and beyond networks",
  "Big data and machine learning for networks",
  "Cellular networks",
  "Cloud computing/mobile cloud computing",
  "Challenged Environments (underwater, underground)",
  "Cross-layer optimization and control",
  "Crowdsourcing",
  "CubeSats",
  "Cyber-physical systems",
  "Datacenter networking",
  "Dynamic spectrum sharing",
  "Energy efficiency in networks",
  "Edge and fog computing / networking",
  "Fault tolerance, reliability and survivability",
  "Information security and privacy",
  "Information-centric networking",
  "Interference management and mitigation",
  "Internet of Things",
  "Localization and location-based services",
  "Medium access control",
  "Mobile sensing and applications",
];
---

<Container>
  <section id="topics" class="text-center space-y-4">
    <h1 class="text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">
      Topics
    </h1>
    <p class="text-lg font-medium">
      The topics of the conference are as follows:
    </p>

    <!-- Represnt topics as list -->
    <ul class="divide-y divide-gray-200 dark:divide-gray-700">
      {
        TOPICS.map((topic) => (
          <li class="py-2 sm:py-3 ">
            <div class="flex items-center space-x-4">{topic}</div>
          </li>
        ))
      }
    </ul>
  </section>
</Container>
